body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  color: #000;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
}

h1, a, video, div, p, button {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

.main-header {
  position: relative;
  height: 100%;
  width: 50%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 2rem;
  line-height: 2.3rem;
  color: #000;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.header,
.footer {
  height: 143px;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  -webkit-animation: preloader-rotate 2s infinite linear;
          animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #000;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  -webkit-animation: preloader-bounce 2s infinite ease-in-out;
          animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

@-webkit-keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes preloader-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes preloader-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.loaded_hiding .preloader {
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.footer .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-link {
  text-decoration: none;
  color: #000;
  -webkit-transition: .3s;
  transition: .3s;
}

.footer-link:hover {
  -webkit-filter: invert(16%) sepia(86%) saturate(4210%) hue-rotate(350deg) brightness(83%) contrast(102%);
          filter: invert(16%) sepia(86%) saturate(4210%) hue-rotate(350deg) brightness(83%) contrast(102%);
}

.logo {
  display: inline-block;
  width: 70px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  translate: -15px;
}

.video-player {
  position: relative;
  border: 2px solid #000;
}

.main-video {
  display: block;
  width: 100%;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #fff;
  background-size: cover;
  background-position: 0 0;
  cursor: pointer;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.overlay-hidden {
  opacity: 0;
}

.play-button {
  display: block;
  width: 180px;
  height: 180px;
  background: url("../assets/svg/play-btn.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  right: 50%;
  z-index: 2;
  -webkit-transform: translate(90px, -90px);
          transform: translate(90px, -90px);
  cursor: pointer;
}

.play-button.hover {
  -webkit-filter: invert(16%) sepia(86%) saturate(4210%) hue-rotate(350deg) brightness(83%) contrast(102%);
          filter: invert(16%) sepia(86%) saturate(4210%) hue-rotate(350deg) brightness(83%) contrast(102%);
}

.play-button:hover,
.play-toggle:hover,
.volume-toggle:hover {
  -webkit-filter: invert(16%) sepia(86%) saturate(4210%) hue-rotate(350deg) brightness(83%) contrast(102%);
          filter: invert(16%) sepia(86%) saturate(4210%) hue-rotate(350deg) brightness(83%) contrast(102%);
}

.hidden {
  display: none;
}

.control-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px;
}

.play-toggle {
  display: block;
  width: 24px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 202%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

.played {
  background-image: url("../assets/svg/play-btn.svg");
  background-position: 100%;
}

.paused {
  background-image: url("../assets/svg/play-btn.svg");
  background-position: 0;
}

.volume-toggle {
  display: block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.unmuted {
  background-image: url("../assets/svg/volume.svg");
}

.muted {
  background-image: url("../assets/svg/mute.svg");
}

.timeline {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.volume-lvl {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.timeline {
  -webkit-transition: background 450ms ease-in;
  transition: background 450ms ease-in;
  background: -webkit-gradient(linear, left top, right top, from(#000), color-stop(0%, #fff), color-stop(0%, #fff), to(#fff));
  background: linear-gradient(to right, #000 0%, #fff 0%, #fff 0%, #fff 100%);
}

.volume-lvl {
  -webkit-transition: background 100ms ease-in;
  transition: background 100ms ease-in;
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(126.04%, black), color-stop(126.04%, white), to(white));
  background: linear-gradient(to right, white 0%, black 126.04%, white 126.04%, white 100%);
}

.volume-lvl,
.timeline {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  height: 1px;
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-appearance: none;
}

.volume-lvl::-webkit-slider-thumb,
.timeline::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #000;
  cursor: -webkit-grab;
  cursor: grab;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .play-toggle {
    height: 31px;
  }
  .main-header {
    text-align: center;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .footer,
  .header {
    height: 85px;
  }
  .main {
    height: calc(100vh - 180px);
  }
  .main-header {
    width: 80%;
    text-align: center;
    line-height: 2.7rem;
  }
  .main-video {
    margin-bottom: 5px;
  }
  .control-bar {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: space-evenly;
        align-content: space-evenly;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 0;
    min-height: 65px;
  }
  .timeline {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .play-toggle {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-flex-preferred-size: 20px;
        flex-basis: 20px;
    height: 40px;
  }
  .paused {
    background-position: -1px;
  }
  .played {
    background-position: -21px;
  }
  .volume-toggle {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
  }
  .volume-lvl {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .play-button {
    width: 19%;
    height: 27%;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }
  .container {
    padding: 0 10px;
  }
  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer {
    margin-bottom: 10px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  body {
    font-size: 18px;
  }
  .main-header {
    width: 100%;
    text-align: center;
    line-height: 2.7rem;
  }
  .main-video {
    margin-bottom: 5px;
  }
  .control-bar {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: space-evenly;
        align-content: space-evenly;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0;
    min-height: 65px;
  }
  .timeline {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .play-toggle {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-flex-preferred-size: 20px;
        flex-basis: 20px;
  }
  .paused {
    background-position: -1px;
  }
  .played {
    background-position: -21px;
  }
  .volume-toggle {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
    height: inherit;
  }
  .volume-lvl {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .play-button {
    width: 22%;
    height: 27%;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }
  .container {
    padding: 0 10px;
  }
  .footer,
  .header {
    height: 85px;
  }
  .main {
    height: calc(100vh - 180px);
  }
  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer {
    margin-bottom: 10px;
  }
}
